@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primary-color:#4561B9;
    --secondary-color:purple;
    --grey-color:#D1D5DB;
    --light-blue:rgb(223, 225, 238);
}
nav{
    background-color: var(--primary-color);
    border-bottom-left-radius: 1.5rem;
    margin:0 0.3rem;
}
nav header{
    margin-left: 1rem;
    padding:2px;
    font-size: 1.5rem;
    color: white;
}
nav ul{
    margin:1rem 1rem;
    text-align: right;
    padding: 6px 0px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 0 1.5rem;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    font-weight: bolder;
}

/* home */
.common{
    text-align:center;
    margin:3rem;
}
.common .home-img{
    max-width:350px;
    display: block;
    margin:auto;
    padding-top:2rem;
}
.common h2 span{
    color:var(--primary-color);
}
   /* section  */
section{
    padding:1.5rem;
    max-width: 700px;
    margin-left: 1rem;
    margin: auto;
}
section h1{
   font-weight: bold;
    text-align:center;

}
section p{
    padding:1rem 0;

}
section a{
 border:none;
 padding:5px 10px;
 color:white;
 border-radius: 0.5rem;
 cursor: pointer;
 text-decoration: none;
}
.btn-1{
    background-color: var(--primary-color);
}
.btn-1:hover{
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
}
.btn-2{
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
}
.btn-2:hover{
    background-color: var(--primary-color);
    color:white;
}
.tech, .blog{
    background-color: var(--grey-color);
}
/*  */
footer{
    text-align: center;
    background-color: var(--primary-color);
    border-top-right-radius: 1.5rem;
    margin:1.5rem  0.3rem 0 0.3rem;
}
footer h3{
    padding-top:1rem;
    color: white;
    font-weight: bold;
}
footer ul{
    padding:1rem;
}
footer ul li{
    display: inline;
}
footer ul li a{
    text-decoration: none;
    margin:0rem 1rem;
    color: white;
    font-weight: 400;
}
footer ul li a:hover{
    font-weight: bold;
}

/* projects */
.projects ol{
    margin-left:2rem;
    margin-right: 1rem;;
}
.projects ol li{
    margin:2rem 0;
    background-color: var(--light-blue);
    padding:1rem;
}
.date{
    font-style: italic;
    font-size: 0.9rem;
    margin: -0.5rem 0 0 0;
}
.projects ol li a{
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
} 
.primary{
    color:var(--primary-color);
    margin-top:0.5rem;
}
.secondary{
    color:var(--secondary-color);
}
.projects ol li h1{
    padding-top: 0.5rem;
}
.my-section{
    padding:0;
}

/* blogs */
.blogs ol li h1 a{
    color:black;
}
/* .blog-footer{
    position:absolute;
    bottom:0px;
    width:100%;
} */

 @media screen and (max-width:446px){
    .common .home-img{
        max-width:250px;
    }
    nav ul li{
        margin:0rem 0.5rem;
    }
} 


@media screen and (max-width:346px){
    .common .home-img{
        max-width:200px;
    }
    nav ul li{
        margin:0rem 0.5rem;
    }
} 